@import "./node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	width: 400px;
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;
	font-weight: 700;
}

@import "./section.less";
@import "./auth.less";
@import "./header.less";
@import "./content.less";
@import "./list.less";
@import "./test.less";